form {
    display: block;
    align-items: center;
    caret-color: babyblue;
}

.login{
    background-image: url(./images/waterSplashCorrect.png);
    background-repeat: no-repeat;
    background-position: center; 
    padding: 1em;
   
    

}

.input {
    border: 1px solid babyblue;
    border-radius: 9px;
    padding: 0.5em 0.5em 0.5em;
    margin: 0.5em 0.5em;
    
    
}