.App {
  background: rgb(9,9,121);
  background: linear-gradient(45deg, rgba(9,9,121,0.927608543417367) 0%, rgba(70,153,245,1) 91%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

