

.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
    border: 1px solid blue;
    border-radius: 9px;
    padding: 1em;
    max-width: 550px;

}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
}

.input {
    border: 1px solid babyblue;
    border-radius: 9px;
    padding: 0.5em 0.5em 0.5em;
    margin: 0.5em 0.5em;
    
    
}